@theme {
	--spacing-*: initial;
	--spacing-0: 0;
	--spacing-1: calc(1 / 16 * 1rem);
	--spacing-2: calc(2 / 16 * 1rem);
	--spacing-3: calc(3 / 16 * 1rem);
	--spacing-4: calc(4 / 16 * 1rem);
	--spacing-5: calc(5 / 16 * 1rem);
	--spacing-6: calc(6 / 16 * 1rem);
	--spacing-7: calc(7 / 16 * 1rem);
	--spacing-8: calc(8 / 16 * 1rem);
	--spacing-9: calc(9 / 16 * 1rem);
	--spacing-10: calc(10 / 16 * 1rem);
	--spacing-11: calc(11 / 16 * 1rem);
	--spacing-12: calc(12 / 16 * 1rem);
	--spacing-13: calc(13 / 16 * 1rem);
	--spacing-14: calc(14 / 16 * 1rem);
	--spacing-15: calc(15 / 16 * 1rem);
	--spacing-16: calc(16 / 16 * 1rem);
	--spacing-18: calc(18 / 16 * 1rem);
	--spacing-20: calc(20 / 16 * 1rem);
	--spacing-22: calc(22 / 16 * 1rem);
	--spacing-24: calc(24 / 16 * 1rem);
	--spacing-28: calc(28 / 16 * 1rem);
	--spacing-30: calc(30 / 16 * 1rem);
	--spacing-32: calc(32 / 16 * 1rem);
	--spacing-36: calc(36 / 16 * 1rem);
	--spacing-40: calc(40 / 16 * 1rem);
	--spacing-44: calc(44 / 16 * 1rem);
	--spacing-48: calc(48 / 16 * 1rem);
	--spacing-52: calc(52 / 16 * 1rem);
	--spacing-56: calc(56 / 16 * 1rem);
	--spacing-60: calc(60 / 16 * 1rem);
	--spacing-64: calc(64 / 16 * 1rem);
	--spacing-72: calc(72 / 16 * 1rem);
	--spacing-80: calc(80 / 16 * 1rem);
	--spacing-96: calc(96 / 16 * 1rem);
	--spacing-128: calc(128 / 16 * 1rem);
	--spacing-200: calc(200 / 16 * 1rem);
}
