{% set wrapperClasses = wrapperClasses|default('absolute top-1/2 transform -translate-y-1/2 z-10 w-full flex justify-between') %}
{% set buttonClasses = 'bg-primary text-secondary hover:bg-secondary hover:text-primary size-40 relative z-10 flex justify-center items-center rounded-full transition ease-in duration-200' %}

<div class="flex gap-8 {{wrapperClasses}}">
  <button class="button-prev {{buttonClasses}}">
      {% include "_components/atoms/icon/icon.twig" with {
          size: 'medium',
          icon: 'chevron-left',
          iconClasses: ''
      } %}
  </button>
  <button class="button-next {{buttonClasses}}">
      {% include "_components/atoms/icon/icon.twig" with {
          size: 'medium',
          icon: 'chevron-right',
          iconClasses: ''
      } %}
  </button>
</div>