{% set sliderType = sliderType|default('fullWidth') %}
{% set slides = slides|default('') %}

{% if showNavigation is not defined %}
  {% set showNavigation = true %}
{% endif %}

{% set showPagination = showPagination|default(false) %}

{% if STORYBOOK is defined and slides is not defined %}
  {% set sliderItems = [
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/404',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/403',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/402',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/404',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/403',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/402',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
  ] %}

  {% set slides %}
    {% for slide in sliderItems %}
      {% include "_components/molecules/card/card.twig" with {
        preText: slide.preText,
        headingText: slide.headingText,
        body: slide.body,
        image: slide.image,
        url: slide.url,
        buttonText: slide.buttonText,
        wrapperClasses: 'swiper-slide'
      } %}
    {% endfor %}
  {% endset %}
{% endif %}

<div class="relative w-full overflow-hidden" data-swiper='{
    "type": "{{sliderType}}",
    "minSlides": 1
  }'>
  <div class="swiper-wrapper">
    {{ slides }}
  </div>

  {% if showNavigation %}
    {% include "_components/molecules/slider/_partials/navigation" with { wrapperClasses: '' } %}
  {% endif %}

  {% if showPagination %}
    {% include "_components/molecules/slider/_partials/pagination" with { wrapperClasses: 'mt-16' } %}
  {% endif %}
</div>