{% set padding = 'mb-6' %}
{% set cardType = 'collection' %}

<section class="overflow-hidden">
    <div class="gap-8 boxed">
        <div class="flex w-full max-w-6xl gap-8">
            <div class="flex flex-col items-start gap-5 lg:w-8/12">
                {# Tag & Text configurable through storybook? #}
                {% include "components/heading/heading.twig" with {
                    tag: 'h2',
                    text: 'Card slider',
                    size: 'small',
                    align: 'left',
                    color: 'text-black',
                    uppercase: true,
                } only %}

                <div class="flex prose lg:prose-lg">
                    {# Configurable through storybook? #}
                    Some detail text here
                </div>
            </div>

            <div class="items-center hidden gap-5 lg:w-4/12 lg:flex">
                {% include "components/sliderButtons/sliderButtons.twig" with {
                    wrapperClasses: ''
                } %}
            </div>
        </div>
        <div class="relative w-full" data-swiper='{
                "type": "cards"
            }'>
            <div class="swiper-wrapper">
                {% for i in range(0, 9) %}
                    {% include 'components/card/card.twig' with {
                        cardType: cardType,
                        style: '',
                    } only %}
                {% endfor %}
            </div>
        </div>

        <div class="flex justify-between w-full lg:hidden">
            {% include "components/sliderButtons/sliderButtons.twig" with {
                wrapperClasses: '',
                mobileButtons: true
            } %}
        </div>
    </div>
</section>