{% set sliderType = sliderType|default('fullWidth') %}
{% set content = content|default('') %}

{% if showNavigation is not defined %}
  {% set showNavigation = true %}
{% endif %}

{% set showPagination = showPagination|default(false) %}

{% if STORYBOOK is defined %}
  {% set slides = [
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/404',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/403',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/402',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/404',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/403',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
    {
      preText: 'Lorem ipsum',
      headingText: 'Dolar sit amet',
      body: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum accusantium minima, quod inventore maxime perferendis velit! Sit dicta, nobis nisi corrupti iure voluptates exercitationem aliquid nam atque facere delectus?',
      image: 'https://http.cat/402',
      url: 'https://www.brik.digital',
      buttonText: 'Read more'
    },
  ] %}

  {% set content %}
    {% for slide in slides %}
      {% include "components/molecules/card/card.twig" with {
        preText: slide.preText,
        headingText: slide.headingText,
        body: slide.body,
        image: slide.image,
        url: slide.url,
        buttonText: slide.buttonText,
        wrapperClasses: 'swiper-slide'
      } %}
    {% endfor %}
  {% endset %}
{% endif %}

<div class="w-full overflow-hidden relative py-14 lg:py-20" data-swiper='{
    "type": "{{sliderType}}",
    "minSlides": 1
  }'>
  <div class="swiper-wrapper">
    {{ content }}
  </div>

  {% if showNavigation %}
    {% include "components/molecules/slider/_partials/navigation" with { wrapperClasses: '' } %}
  {% endif %}

  {% if showPagination %}
    {% include "components/molecules/slider/_partials/pagination" with { wrapperClasses: 'mt-16' } %}
  {% endif %}
</div>