<div class="flex {{wrapperClasses}}">
    <div class="button-prev cursor-pointer">
        {{ inlineSvg('icons/arrow', 'size-24 stroke-current rotate-180', { sanitize: true, namespace: true }) }}
    </div>
    <div class="button-next cursor-pointer">
        {{ inlineSvg('icons/arrow', 'size-24 stroke-current', { sanitize: true, namespace: true }) }}
    </div>
</div>