{% extends '_layouts/default.twig' %}

{% block html %}
<div class="container bg-gray-400 ">
	{% include "components/atoms/heading/heading.twig" with {
        tag: "h2",
        pre: "",
        text: "BOXED CONTENT",
        size: "large",
        align: "left",
        color: "text-black",
        colorPre: "text-secondary",
        headingClasses: "",
        wrapperClasses: "",
        uppercase: false
    } %}
</div>
{% endblock %}