{% extends '_layouts/default.twig' %}

{% block html %}
<div class="boxed bg-gray-600 ">
BOXED CONTENT

{% include "components/atoms/heading/heading.twig" with {
    tag: "h2",
    pre: "",
    text: "",
    size: "large",
    align: "left",
    color: "text-black",
    colorPre: "text-secondary",
    headingClasses: "",
    wrapperClasses: "",
    uppercase: false
} %}



</div>

{% endblock %}