<nav id="skipToContent">
    <ul class="p-0 relative z-[9999] ">
        <li class="list-none">
            <a class="block bg-skip-to-content text-white absolute left-[-9999px] top-0 p-16 text-center transition-shadow ease duration-100 focus:static focus:shadow-skip-to-content" href="#start-content">
                {{ "Ga direct naar de inhoud"|t }}
            </a>
        </li>
    </ul>
</nav>