<nav id="skipToContent">
    <ul class="relative z-[9999] p-0">
        <li class="list-none">
            <a class="bg-skip-to-content ease focus:shadow-skip-to-content absolute top-0 left-[-9999px] block p-16 text-center text-white transition-shadow duration-100 focus:static" href="#start-content">
                {{ "Ga direct naar de inhoud"|t }}
            </a>
        </li>
    </ul>
</nav>