@import './components/tailwind.pcss';

@layer base {
  :root {
    --color-primary: 37 4 54;
    --color-secondary: 243 178 214;
  }
  .test {
    @apply bg-gray-200 px-4 py-2 text-white hover:bg-error;
  }
}
