@import './components/tailwind.pcss';

@layer base {
	:root {
		--color-dark-grass: 2 51 20;
		--color-grass: 45 166 89;
		--color-light-grass: 31 102 57;
		--color-dark-sky: 159 176 187;
		--color-sky: 211 217 223;
		--color-gray-600: 79 79 79;
		--color-tiles: 236 189 175;
		--color-brick: 163 106 87;
		--color-dark-red: 93 26 2;
		--color-lime: 220 237 89;
	}
}