@import './components/tailwind.pcss';
@import './components/swiper.pcss';
@import './components/videoPlayer.pcss';

@layer base {
  :root {
    --color-primary: 37 4 54;
    --color-secondary: 243 178 214;
    --skip-to-content-bg: 0 0 0;
  }
}

[x-cloak] {
  display: none !important;
}
