{# Card content #}
{% set preText = preText is defined and preText|length ? preText : '' %}
{% set headingText = headingText is defined and headingText|length ? headingText : '' %}
{% set body = body is defined and body|length ? body : null %}

{# Card image #}
{% set image = image is defined and image|length ? image : null %}
{% set imageOverlay = imageOverlay is defined and imageOverlay|length ? imageOverlay : null %}

{# Card link #}
{% set url = url is defined and url|length ? url : null %}
{% set buttonText = buttonText is defined and buttonText|length ? buttonText : 'Meer info'|t %}

{# Options #}
{% set wrapperClasses = wrapperClasses|default('') %}

<article class="border-secondary flex flex-col items-start gap-16 p-24 border {{wrapperClasses}}">
    {% if imageOverlay %}
    <figure class="relative">
        {{imageOverlay|raw}}
    {% endif %}
        {% include "components/atoms/image/image.twig" with {
            image: image,
            alt: '',
            imageClasses: '',
            wrapperClasses: 'w-full'
        } %}
    {% if imageOverlay %}
    </figure>
	{% endif %}

    {% include "components/molecules/heading/heading.twig" with {
        preText: preText,
        headingText: headingText,
        size: "small",
    } %}

    {% if body %}
        <div class="prose md:prose">
            {{body}}
        </div>
    {% endif %}

    {% if url and buttonText %}
        {% include "components/atoms/button/button.twig" with {
            htmlTag: 'a',
            theme: 'secondary',
            size: 'small',
            text: buttonText,
            url: url,
        } %}
    {% endif %}
</article>